section.turns-bg-img {
    background-image: url(../img/turnos.png);
}

.footer-container {
    /* background-color: aqua; */
}

.navbar-nav .nav-item .nav-link.active {
    text-decoration: underline;
}

.navbar {
    background-color: aqua;
}

.img-fluid {
    width: 100%;
    z-index: 10;
}

.text-over-img {
    z-index: 100;
    font-size: 18em;
    margin-top: -100px;
}

.carousel-caption {
    color: black;
    bottom: 60rem;
    text-align: left;
    font-size: 50px;
    width: 30%;
    left: 5%
}

.centered-left {
    position: absolute;
    top: 20%;
    left: 10%;
    width: 30%;
    font-size: 50px;
}

.lower-text {
    top: 27%;
}

/* Texto alineado para el container de turno */
.text-container {
    position: relative;
    text-align: center;
    color: black;
}

.image-inner-text {
    text-align: left;
}

.buttom-left {
    position: absolute;
    top: 60%;
    left: 10%;
}

.container-flex {
    display: flex;
    gap: 20px;
}

.items-logo {
    border-radius: 10%;
    background-color: rgb(233, 233, 233);
}

/* Agregamos el box shadow para hacerle el borde */
.container-item-border {
    border: 1px solid black;
    border-radius: 10%;
    /* margin-left: 1px;
    margin-right: 1px; */
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.logo-direccion {
    background-color: #E7F4FF;
}

.hr-logo {
    margin: auto;
    text-align: center;
    width: 80%;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: end
}

.form-shadow {
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    border: 10px solid black;
}

.locations-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    justify-content: space-around;
}

.location-data p {
    width: 55%;
    margin: auto;
    margin-top: 10px;
}

/* .locations-data {
    background-color: aliceblue;
} */

.location-data hr {
    margin-bottom: 40px;
    width: 60%;
    margin: auto;
}

@media (max-width: 768px) {
    .centered-left {
        visibility: hidden;
    }

    .locations-grid {
        grid-template-columns: 1fr;
    }
}